In [3]:
# !pip install pymysql
# !pip install pymssql

import LibData
import LibUtils
import LibML
import LibFile

import pandas as pd
import numpy as np

xBase = pd.read_csv('x.csv')
yBase = pd.read_csv('y.csv')

In [25]:


# 포함된, 포함되지 않은
def PrintSelectedAndNot(x, selected):
    mask = x.columns.isin(selected)
    notSelected = x.columns[np.invert(mask)]
    print(selected)
    print(notSelected)

In [19]:
# filter - f-test

from sklearn.feature_selection import f_regression, mutual_info_regression, SelectKBest

cols = xBase.columns

# 수행 
selector = SelectKBest(score_func=f_regression, k=20)
xSelected = selector.fit_transform(xBase, yBase['pv_claim'])

selected_cols = xBase.columns[selector.get_support()]
PrintSelectedAndNot(xBase, selected_cols)

Index(['Prem', 'PremYr', 'AccumPrem', 'ContAmt', 'FundVal02', 'FundVal03',
       'FundAllo02', 'FundAllo03', 'IR06', 'IR09', 'IR12', 'IR14', 'Moneyness',
       'AttainedAge', 'ee_ProdCode_00', 'ee_ProdCode_01', 'ee_ProdCode_02',
       'ee_Inter_EM_AA_00', 'ee_Inter_EM_AA_01', 'ee_Inter_EM_AA_02'],
      dtype='object')
Index(['ElapsedMth', 'Sex', 'StartAge', 'FundVal01', 'FundAllo01'], dtype='object')

In [21]:
# filter - mutual information
from sklearn.feature_selection import mutual_info_regression

scores = mutual_info_regression(xBase, yBase['pv_claim'])

In [32]:
top

              colName     score  rank
0           AccumPrem  0.264156     1
1                IR12  0.216594     2
2                IR14  0.192187     3
3           Moneyness  0.190856     4
4                IR09  0.189724     5
5                IR06  0.189217     6
6      ee_ProdCode_01  0.177254     7
7      ee_ProdCode_00  0.177105     8
8      ee_ProdCode_02  0.176590     9
9   ee_Inter_EM_AA_00  0.175537    10
10  ee_Inter_EM_AA_02  0.174533    11
11  ee_Inter_EM_AA_01  0.173562    12
12               Prem  0.172736    13
13          FundVal01  0.121075    14
14        AttainedAge  0.110525    15
15            ContAmt  0.104336    16
16           StartAge  0.103455    17
17         ElapsedMth  0.102892    18
18          FundVal02  0.096767    19
19          FundVal03  0.087623    20

In [37]:
# 출력
selected = pd.DataFrame({'colName' : xBase.columns, 'score': scores})

ordered = selected.sort_values(by=['score'], ascending=False).reset_index(drop=True)
ordered['rank'] = ordered.index+1

top = ordered[ordered['rank'] <= 20]

PrintSelectedAndNot(xBase, top.colName.to_numpy())

['AccumPrem' 'IR12' 'IR14' 'Moneyness' 'IR09' 'IR06' 'ee_ProdCode_01'
 'ee_ProdCode_00' 'ee_ProdCode_02' 'ee_Inter_EM_AA_00' 'ee_Inter_EM_AA_02'
 'ee_Inter_EM_AA_01' 'Prem' 'FundVal01' 'AttainedAge' 'ContAmt' 'StartAge'
 'ElapsedMth' 'FundVal02' 'FundVal03']
Index(['Sex', 'PremYr', 'FundAllo01', 'FundAllo02', 'FundAllo03'], dtype='object')

In [24]:
selected

              colName     score  rank
4           AccumPrem  0.228573     1
15               IR12  0.189273     2
16               IR14  0.180704     3
14               IR09  0.166796     4
13               IR06  0.165874     5
19     ee_ProdCode_00  0.159109     6
21     ee_ProdCode_02  0.156919     7
20     ee_ProdCode_01  0.155857     8
17          Moneyness  0.147882     9
2                Prem  0.142471    10
22  ee_Inter_EM_AA_00  0.136993    11
24  ee_Inter_EM_AA_02  0.127196    12
23  ee_Inter_EM_AA_01  0.126016    13
5             ContAmt  0.094946    14
6            StartAge  0.084452    15
7           FundVal01  0.081651    16
0          ElapsedMth  0.068034    17
18        AttainedAge  0.064085    18
8           FundVal02  0.060229    19
3              PremYr  0.046859    20
9           FundVal03  0.045670    21
11         FundAllo02  0.033523    22
12         FundAllo03  0.031888    23
10         FundAllo01  0.015262    24
1                 Sex  0.011979    25

              colName     score  rank
5           AccumPrem  0.215027     1
16               IR12  0.177529     2
17               IR14  0.173046     3
15               IR09  0.158985     4
14               IR06  0.156500     5
21     ee_ProdCode_01  0.150779     6
22     ee_ProdCode_02  0.148458     7
20     ee_ProdCode_00  0.145321     8
18          Moneyness  0.145062     9
3                Prem  0.131131    10
23  ee_Inter_EM_AA_00  0.119586    11
25  ee_Inter_EM_AA_02  0.113480    12
24  ee_Inter_EM_AA_01  0.112772    13
8           FundVal01  0.093164    14
6             ContAmt  0.083052    15
7            StartAge  0.051685    16
1          ElapsedMth  0.049790    17
9           FundVal02  0.047928    18
4              PremYr  0.042860    19
19        AttainedAge  0.041795    20
10          FundVal03  0.040518    21
12         FundAllo02  0.033289    22
13         FundAllo03  0.024153    23
2                 Sex  0.009547    24
11         FundAllo01  0.000000    25
0          Unnamed: 0  0.000000    26